<style>
    .Login
    {
        width: 100px;
        height: 100px;
        background: black;

    }
</style>
<div class="View">
    <div class="main-w3layouts wrapper">
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form name="MyForm">
                    <input class="text" type="text" ng-model="vm.Email" placeholder="Correo" value="f@f" required>
                    <input class="text" type="password" ng-model="vm.Password" placeholder="Password" value="1234" required>
                    <input type="submit" value="Enter" id="AddButton2" class="submit" ng-click="vm.CheckFormLogin(MyForm.$valid)" ng-show="!vm.IsEditing">
                </form>
                <button ng-click="vm.ChangeToRegister()">Sign Up</button>
            </div>
        </div>
    </div>
</div>