<style>

</style>

<nav id="sidebar" class="" >
    <div class="sidebar-header" ng-init="vm.ShowView('events')">
        <h2>Menu</h2>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a ng-click="vm.ShowView('purchases')">Purchases</a>
        </li>
        <li>
            <a ng-click="vm.ShowView('events')">Events</a>
        </li>
        <li>
            <a ng-click="vm.ShowView('employees')" ng-if="vm.IsEmployee">Employees</a>
        </li>
        <li>
            <a ng-click="vm.ShowView('products')" ng-if="vm.IsEmployee">Products</a>
        </li>
    </ul>
</nav>